type project
owners
    David H
authors 
    David H
projectUrl
    http://github.com/daholland/FShoGi
iconUrl
    https://raw.githubusercontent.com/daholland/FShoGi/master/docs/files/img/logo.png
licenseUrl
    http://github.com/daholland/FShoGi/blob/master/LICENSE.txt
requireLicenseAcceptance
    false
copyright
    Copyright 2015
tags
    
summary
    
description
    Description not set


